body {

}

header {
	padding-top: 20px;
	font-family: 'Century Gothic';
	font-weight: bold;
}
header img {
	width: 130px;
	height: 45px;
}
header ul {
	list-style-type: none;
	font-size: 11pt;
	color:rgba(0,0,0,0.49);
	display: inline;
	margin-left: 70px;
}
header ul li {
	display: inline;
	padding: 0 15px;
	cursor: pointer;
}
header button {
	border:none;
	border-radius: 3px;
	margin-left: 6px;
}
header .login {
	color: white;
	background-color: #AF7CB6;
	padding: 15px 36px;
}
header .login:hover {
	background-color: limegreen;
	transition: 0.3s ease-in;
	transform: scale(1.2);
}
header .support {
	background-color: white;
	border:2px dashed limegreen;
	padding: 13px 34px;
}
header .support:hover {
	background-color: limegreen;
	transition: 0.3s;
	color:white;
	transform: scale(1.2);
}
header i {
	position: absolute;
	right: 10px;
	top: 20px;
	color: limegreen;
	font-size: 0em;
	padding: 4px;
	border-radius: 5px;
}

#section_1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 200px;
}

#section_1 .part_1 {
	height: 400px;
	font-family: 'Century Gothic';
	animation-duration: 1.5s;
}
#section_1 .part_1 h1 {
	font-weight: bold;
}
#section_1 .part_1 p {
	opacity: 0.5;
	font-weight: bold;
	font-size: 1.1em;
	margin-top: 30px;
}
#section_1 .part_1 button {
	border:none;
	color: white;
	padding: 16px 45px;
	border-radius: 3px;
	background-color: limegreen;
	font-weight: bold;
	margin-top: 10px;
}
#section_1 .part_1 button:hover {
	background-color: #AF7CB6;
	transition: 0.3s;
	transform: scale(1.1);
}
#section_1 .part_2 {
	height: 400px;
	animation-duration:1.3s;
}

#section_1 .part_2 img {
	width: 500px;
}


@media screen and (max-width: 1200px) {
	header .login {
		display: none;
	}
	#section_1 .part_2 img {
		width: 400px;
	}
}
@media screen and (max-width: 992px) {
	header .support {
		display: none;
	}
}
@media screen and (max-width: 991px) {
	#section_1 {
		margin-top: 80px;
	}
	#section_1 .part_1 p {
		font-size: 1.2em;
	}

	/* Responsive NavBar */
	header ul {
		display: block;
		margin-left: 0;
		padding-left: 0;
		font-size: 13pt;
	}
	header img {
		margin-bottom: 10px;
	}
	header ul li {
		display: block;
		padding: 12px 0 12px 20px;
		border-top: 1px solid rgba(50,205,50,0.3);
	}
	header i {
		font-size: 1.5em;
		border:2px solid limegreen;
	}
}

@media screen and (max-width: 580px) {
	#section_1 .part_2 img {
		transform: scale(0.8);
	}
}

